<!-- <h1>uppercase pipe</h1>
<b>{{title|uppercase}}</b><br>
<h1>lowercase</h1>
<b>{{title|lowercase}}</b><br>
<h1>currency pipe</h1>
<b>{{6589.23|currency:"INR":false}}</b><br>
<b>{{6589.23|currency:"INR":true}}</b><br>
<h1>date pipe</h1>
<b>{{todaydate|date:'d/m/y'}}</b><br>
<b>{{todaydate|date:'shortTime'}}</b><br>
<h1>decimal pipe</h1>
<b>{{454.78784814|number:'3.4-4'}}</b><br> -->


 <!-- <div style="width:40%; float:left;"> -->
<!-- <h1>json pipe</h1>
<b>{{jsonval|json}}</b>
<h1>percent pipe</h1>
<b>{{00.54565|percent}}</b>
<h1>slice pipe</h1>
<b>{{months|slice:2:6}}</b> -->
<!-- </div>  -->
<!-- <div>
<h1>custom pipe</h1>
<b>floor value of 25.9 is:{{25.9|flr}}</b>
<br>
<b>floor value of 76.4 is:{{76.4|flr}}}</b>
</div> -->

<!-- the content below is only a placeholder -->
<a routerLink="Order">order component</a>
<a routerLink="About">about component</a>
<a routerLink="Blog">blog component</a>
<a routerLink="Home">home component</a>


<router-outlet></router-outlet>
